core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
db.sqlite3
venv
django.po
.env
django-staticfiles/
staticfiles/

# Django REST framework JWT tokens (if any token files are generated)
.jwt_cache
